/* Styl tabulky */
table {
    width: 100%;
    border-collapse: collapse;
}

thead, tfoot {
    font-weight: bold;
    border: 2px solid black;
}

tbody tr:nth-child(even) {
    background-color: pink;
}

tbody tr:nth-child(odd) {
    background-color: violet;
}

tbody tr:hover {
    background-color: #10a062 !important;
    cursor: pointer;
}

td {
    padding: 8px;
}

/* Styl formuláře */
#user-form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.form-row {
    display: flex;
    gap: 10px;
    width: 100%;
}

input, button {
    padding: 8px;
    font-size: 16px;
}

@media (min-width: 1024px) {
    #user-form {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (max-width: 1023px) and (min-width: 768px) {
    .form-row:nth-child(1), .form-row:nth-child(2) {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 767px) {
    .form-row {
        flex-direction: column;
    }

    .form-row input, .form-row button {
        width: 100%;
    }
}
